// color
$color_black:#000000;
$color_white:#fff;
$color_grey:#8D8D8D;
$color_lightgrey:#E0E0E0;
$main_color:#916000;
$sub_color:#AC8A46;

// font-size
$font-l:40px;
$font-sub:32px;
$font-m:24px;
$font-s:20px;
// line-height
$line-height_l:60px;
$line-height_sub:48px;
$line-height_m:36px;
$line-height_s:30px;
