@import "mixin";
*,*::before,*::after {
    box-sizing: border-box;
  }
.container {
    margin: 0 auto;
    max-width:1140px;
    padding:0px 15px;
}
.header_bar{
    @include bar;
    height:50px;
    position:relative;
    h1 a {
        @include word_hidden;
        background-image:url(https://upload.cc/i1/2021/06/13/PWFOAJ.png);
        width:130px;
        height:38px;
    }
    .header_menu {
    display:flex;
    align-items: center;
    float:right;
    @media (max-width:767px){
        display:none;
    }
    li{
        margin-right: 16px;
    }
    a{
        text-decoration: none;
        color:$color_grey;
        display:block;
        padding: 16px;
        &:hover {
            border-bottom: 2px solid #8D8D8D;
        }
    }
    .fas {
    margin-right: 3px;
    }
}
}
.clearfix {
    clear: both;
}
.header_mb {
    display:none;
    a {
        text-decoration: none;
        margin-right: 8px;
        .fas {
            color:$color_grey;
            line-height:15px;
        }
    }
    .burger_cart {
        position:relative;
        span {
        position:absolute;
        border-radius: 7px;
        border:1px solid $main_color;
        background-color: $main_color;
        padding:0px 3px;
        top:-15px;
        left:30px;
        color:$color_white;
        text-align: center;
        }
    }
    @media (max-width:767px){
        display:block;
        display:flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 12px;
        .fas {
            margin-right: 8px;
        }
    }
}
.burger_show {
    @media (max-width:767px){
    max-height:0px; 
    overflow: hidden;
    transition:max-height 1.5s;
    margin-top: 1px;
    position:absolute;
    top:51px;
    left:0px;
    right:0px;
    z-index:100;
    li {
        background-color:#707070;
        text-align: center;
        padding:16px 0px;
        border-bottom: 1px solid $color_white;
        &:hover {
            background-color: $color_lightgrey;
        }
    }
    a {
        @include word (20px,30px);
        text-decoration: none;
        color:$color_white;
        display:block;
        &:hover {
            color:$color_black;
        }
    }  
    }   
}
.burger_height_show .burger_menu {
     max-height:500px;
}
.banner {
    background-image: url(https://upload.cc/i1/2021/06/19/I3T0ej.jpg);
    background-position: top;
    background-size: cover;
    height:870px;
    position:relative;
    margin-bottom: 60px;
    @media (max-width:767px){
        margin-bottom: 40px;
        background-position:top left 15%;
        height:480px;
        background-size: cover;
    }
    .banner_info{
    color:$color_white;
    position:absolute;
    top:30%;
    left:60%;
    width:445px;
    @media (max-width:992px){
        top:30%;
        left:40%;
    }
    @media (max-width:767px){
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:300px;
    }
    h2 {
        @include word (40px,60px);
    }
    p {
        @include word (24px,36px);
    }
    .btn-white{
        @include btn (20px,white);
        width:100%;
        margin-top: 60px;
        &:hover {
            cursor: pointer;
            background-color: rgba(255,255,255,0.5);
            }
        }
    }
}
.product_column {
    margin-bottom: 60px;
    @media (max-width:767px){
        margin-bottom: 0;
    }
}
.products_intro {
    @include position;
    @media (max-width:767px){
        flex-direction: column-reverse;
    }
    .product_content {
        width:50%;
        padding:0px 110px;
        @media (max-width:992px){
            padding:0px 20px;
        }
        @media (max-width:767px){
        width:100%;
        padding:0px;
        margin-bottom: 32px;
        }
        h2 {
            @include word(32px,48px);
            font-weight: bold;
            margin-top: 8px;
            }
        p {
            @include word(20px,30px);
            margin-bottom: 16px;
            }
        a {
            @include read_more;
            }
    }
    .product_content_traits {
        padding:0px 110px;
        @media (max-width:992px){
            padding:0px 20px;
        }
        @media (max-width:767px){
            padding: 0px;
        }
        h3 {
            @include word(24px,36px);
            font-weight: bold;
        }
        p {
            @include word(16px,24px);
        }
        .btn-black {
        @include btn(20px,black);
        margin-top:60px;
        width:100%;
        @media (max-width:767px){
            margin-top: 20px;
            padding:18px 25px;
        }
        &:hover {
            cursor: pointer;
            background-color: rgba(0,0,0,0.2);
            }
        }
    }
    .product_img {
        width:50%;
        height:555px;
        img {
        width: 100%;
        height:100%;
        object-fit: cover;
        object-position: left;
        }
        @media (max-width:767px){
        width:100%;
        height:350px;
        img {
            width:100%; 
            }
        }
    }
    .product_img_1 {
        width:50%;
        height:1080px;
        img {
            max-width:100%;
            height:100%;
        }
        @media (max-width:767px){
            width:100%;
            height:680px;
            img {
                width:100%;
            }
        }
    }
}
.reverse {
    flex-direction: row-reverse;
    @media (max-width:767px){
        flex-direction: column-reverse;
    }
}
.product_sell {
    background-color:$color_lightgrey;
    padding: 40px 0px;
}
.product_sell_list {
    @include position;
    @media (max-width:767px) {
        flex-direction: column;
    }
    li {
        margin:0px 1%;
        @media (max-width:767px){
            margin-bottom: 32px;
            margin-right: 0;
        }
    }
    h3 {
        @include word(24px,36px);
        font-weight: bold;
        white-space:nowrap;
    }
    p {
        @include word(16px,24px);
    }
    .img_click {
        overflow: hidden;
        @media (max-width:767px){
            margin: 0 auto;
        }
        img {
            transition:all .3s;
            max-width:100%;
            height:540px;
            &:hover {
                transform: scale(1.2);
                opacity:.8;
            }
            @media (max-width:767px){
                width:100%;
                height:auto;
            }
        }
    }
}
.price {
    display:flex;
    align-items: center;
    .sell_price {
    margin-right: 8px;
    }
    .old_price {
    text-decoration: line-through;
    color:$color_grey;
    }
}
.product_img_wrapper {
    position:relative;
    width:100%;
}
.wrapper_soldout {
    position:absolute;
    background-color:$color_black;
    opacity:30%;
    width:100%;
    height:100%;
    top:0%;
    left:0%;
    p {
        @include word(24px,542px);
        color:$color_white;
        font-weight: bold;
        text-align: center;
    }
}
.news {
    @include position;
    margin: 60px auto;
    @media (max-width:767px){
        flex-direction: column;
        margin-top: 40px;
    }
    .news_img {
        width:70%;
        @media (max-width:992px){
            width:50%;
        }
        @media (max-width:767px){
            width:100%;
        }
        img {
            max-width: 100%;
            }
        }
    }
    .news_content {
        width:30%;
        padding:0px 20px;
        @media (max-width:992px){
            width:50%;
        }
        @media (max-width:767px){
            width:100%;
            padding:0px;
        }
        h2 {
            @include word(32px,48px);
            font-weight: bold;
            }
        h4 {
            @include word(20px,30px);
            }
        p {
            @include word(16px,24px);
            margin-bottom: 16px;
        }
        a {
            @include read_more;
    }    
}
.subscribe {
    background: url(https://upload.cc/i1/2021/06/13/ETI8wb.jpg) center/cover no-repeat;
    height:600px;
    position:relative;
    @media (max-width:767px){
        background-position:left;
    }
    .subscribe_content {
    font-weight: bold;
    position:absolute;
    top:50%;
    left:20%;
    @media (max-width:767px){
        top:70%;
        left:50%;
        transform:translate(-70%,-50%);
    }
    @media (max-width:414px){
        top:60%;
        left:60%;
        transform:translate(-60%,-60%);
         width:90%;
    }
    h5 {
        @include word(32px,48px);
        color:$color_grey;
    }
    .subscribe_info {
        display:flex;
        align-items: center;
        margin-top: 20px;
    }
    .subscribe-enter {
        width:50%;
        border-radius:4px 0px 0px 4px;
        border:1px solid $main_color;
        outline: none;
        padding: 20px;
        @include word(16px,24px);
    }
    .subscribe-btn {
        width:50%;
        text-align:center;
        color:$color_white;
        border-radius:0px 4px 4px 0px;
        background-color:$main_color;
        text-decoration: none;
        border:1px solid $main_color;
        padding: 20px;
        @include word(16px,24px);
    }
    }
}
.footer-fluid {
    background-color: $main_color;
}
.footer_bar {
    @include bar;
    h6 a{
        @include word_hidden;
        background-image:url(https://upload.cc/i1/2021/06/13/6sfMxS.png);
        width:130px;
        height:38px;
        margin-right: 20px;
    }
    .footer_logo {
    @include position;
    span {
        color:$color_white;
    }
    }
    .footer_menu {
    @include word(20px,30px);
    @include position;
    li {
        padding:28px;
    }
    a {
        text-decoration: none;
        color:$color_white;
        &:hover {
          color:black;  
        }
    }
    }
    @media (max-width:767px){
    .footer_logo {
        margin: 0 auto;
    }
    .footer_menu {
        display:none;
    }
}
}